@model IEnumerable<Coffee>

@{
    ViewData["Title"] = "Browse";
}

<h1>Browse</h1>

<div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3">
    @foreach (var item in Model)
    {
        <div class="col">
            <table class="table">
                <tr>
                    <td>
                        <h3 class="text-center">@Html.DisplayFor(modelItem => item.Name)</h3>
                    </td>
                </tr>
                <tr>
                    <td class="text-center">
                        <img src="~/images/coffees/@Html.DisplayFor(modelItem => item.ImagePath)" class="img-thumbnail" />
                    </td>
                </tr>
                <tr>
                    <td class="text-center">
                        <h5>@Html.DisplayFor(modelItem => item.Price)</h5>
                        <button class="btn btn-info" onclick="orderCoffee(event)" id="@Html.DisplayFor(modelItem => item.Id)">Purchase</button>
                    </td>
                </tr>
            </table>
        </div>
    }
</div>

<script src="~/js/coffeeOrder.js"></script>